pandas
numpy
scikit-learn
google-play-scraper
beautifulsoup4
requests
nltk
vaderSentiment
gensim
matplotlib
plotly
streamlit
joblib
tqdm
xgboost
shap
transformers
sentence-transformers
torch